<div *ngIf="user">
  <app-topnav *ngIf="user && showBottomnav"></app-topnav>
</div>
<mat-toolbar *ngIf="!user" class="navbar is-fixed-top">
  <span style="display: contents;">
    <img src="../../assets/loogo.png" style="width: 50px;" alt="">
    <span> Feel Free</span>
  </span>
</mat-toolbar>

<br><br> <br>
<!-- <app-home></app-home> -->
<!-- <app-addpost></app-addpost> -->
<!-- <app-viewpost></app-viewpost> -->
<!-- <app-profile></app-profile> -->

<router-outlet></router-outlet>


<br><br><br>
<app-bottomnav *ngIf="user && showBottomnav"></app-bottomnav>
