.example-full-width {
  width: 85%;
}

.card-img {
  height: 300px;
  object-fit: cover;
}

.example-header-image {
  background-size: cover;
}

.mat-icon.mat-warn {
  color: #ff4d79;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
}
